// Custom styles.
//头像为原型
.site-author-image {
  border-radius: 100%;
  padding: 2px;
  border: 2px dashed #fff;
  animation: cycle 2s 0.5s forwards;
  transition: border-radius 2s;
}
//博主名字号大小
.site-author-name {
  font-size: 20px;
}